= javascript_include_tag('https://js.braintreegateway.com/js/braintree-2.32.1.min.js')

:javascript
  var form = document.querySelector('#add-member-payment-method');
  var submit = form.querySelector('button[type="submit"]');
  var messageContainer = form.querySelector('.validation-message');

  var options = {
    id: 'add-member-payment-method',
    hostedFields: {
      number: {
        selector: '#card-number',
        placeholder: '•••• •••• •••• ••••'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '•••'
      },
      expirationMonth: {
        selector: '#expiration-month',
        placeholder: 'MM'
      },
      expirationYear: {
        selector: '#expiration-year',
        placeholder: 'YYYY'
      },

      styles: {
        input: {
          'padding': '8px 8px',
          'font-size': '1rem'
        }
      },
    },
    onReady: function(){
      submit.removeAttribute('disabled');
    },
    onError: function(details){
      if (details['type'] == 'VALIDATION') {
        $(form).addClass('is-invalid');
        $(messageContainer).html('We couldn\'t save your card - please check your details and try again.');
      }
    }
  };

  braintree.setup('#{@braintree_token}', 'custom', options);
