.payment-method-detail
  .payment-method-detail-liner
    - if payment_method.default?
      %span.payment-method-list-flag Default

    - if payment_method.expired?
      %span.payment-method-list-flag.is-expired Expired

    .payment-method-detail-mask
      %strong Number
      XXXX-XXXX-XXXX-#{payment_method.last_4}

    .payment-method-detail-expiry
      %strong Expires
      = payment_method.expiration_date

  .payment-method-actions
    = button_to({action: :destroy, controller: :member_payment_method, id: payment_method.token}, method: 'delete') do
      Remove card
