%table.member-order-list
  - if orders.empty?
    %tbody
      %tr
        %td
          You haven't placed any orders yet.
  - else
    %thead
      %tr
        %th Date
        %th Order
        %th Total
        %th Status

    %tbody
      - orders.sort{|a, b| b.created_at <=> a.created_at}.each do |order|
        %tr
          %td= order.created_at.to_s(:date_only)
          %td
            %a{href: public_member_order_path(order.reference)}
              - if order.payment_errors?
                %span.member-order-list-flag.is-warning{title: 'There were payment problems with your order'} !

              #{order.reference}
          %td= order.total
          %td
            %span.member-order-list-flag{class: "is-#{order.status.parameterize}"}= order.status.humanize
